# DB 관련 설정
DB_HOST=${DB_HOST}
DB_PORT=${DB_PORT}
DB_CONTAINER_NAME=${DB_CONTAINER_NAME}
DB_NAME=${DB_NAME}
DB_USER=${DB_USER}
DB_PASSWORD=${DB_PASSWORD}

# JWT 관련 설정
CLAIM_USERNAME=${CLAIM_USERNAME}
JWT_SECRET_KEY=${JWT_SECRET_KEY}
JWT_ISSUER=${JWT_ISSUER}
ACCESS_TOKEN_EXPIRATION=${ACCESS_TOKEN_EXPIRATION}
REFRESH_TOKEN_EXPIRATION=${REFRESH_TOKEN_EXPIRATION}

# REDIS 관련 설정
REDIS_HOST=${REDIS_HOST}
REDIS_PORT=${REDIS_PORT}
REDIS_CONTAINER_NAME=${REDIS_CONTAINER_NAME}

# S3 관련 설정
AWS_REGION=${AWS_REGION}
BUCKET_NAME=${BUCKET_NAME}
ACCESS_KEY=${ACCESS_KEY}
SECRET_KEY=${SECRET_KEY}
PRESIGNED_URL_EXPIRATION_TIME=${PRESIGNED_URL_EXPIRATION_TIME}

# 소셜 로그인 관련 설정
KAKAO_CLIENT_ID=${KAKAO_CLIENT_ID}
KAKAO_CLIENT_SECRET=${KAKAO_CLIENT_SECRET}

GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}

NAVER_CLIENT_ID=${NAVER_CLIENT_ID}
NAVER_CLIENT_SECRET=${NAVER_CLIENT_SECRET}

KAKAO_PROD_REDIRECT_URI=${KAKAO_PROD_REDIRECT_URI}
GOOGLE_PROD_REDIRECT_URI=${GOOGLE_PROD_REDIRECT_URI}
NAVER_PROD_REDIRECT_URI=${NAVER_PROD_REDIRECT_URI}

# test DB 관련 설정
TEST_DB_CONTAINER_NAME=${TEST_DB_CONTAINER_NAME}
TEST_DB_PORT=${TEST_DB_PORT}
TEST_DB_NAME=${TEST_DB_NAME}
TEST_DB_PASSWORD=${TEST_DB_PASSWORD}
